extends layout

block content
    h1 About us
    hr
    p(style="text-align:center; font-size: 18px; line-height: 1cm")
        | <b> IST 440W- Capstone Team 3 </b>
        br
        br
        | Team 3 is a team of Urjita Gandevia, Mohammad Khan, Chanrath Voeun, Brandon Chen, and Adama Doumbia, led by Joe Oakes and David Blon. 
        br
        | Team 3 Appliances was designed to be a functional e-commerce site for kitchen appliances that is both user friendly and efficient, capable of providing an easy checkout system for customers. 
        br
    p(style="text-align:center; font-size: 24px; line-height: 1cm").font-weight-bold="Why us?"
        p(style="text-align:center; font-size: 18px; line-height: 1cm")
            |  Our large selection of appliances allows you to browse over 50 different products from various brands. With brands like Samsung, LG, Whirlpool, GE, and others, you're sure to find just what you need.
        br
        br
        hr

    p(style="text-align:center; font-size: 24px;").font-weight-bold='Contact:' 
        p(style="text-align:center; font-size: 18px; line-height: 1cm")
            | Our Address
            | 1600 Woodland  
            br
            | Abington, PA 19001
            br
            | United States
            br
            | Phone: 123-456-7890
            br
            | Email: team3@capstone.com
